@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.backgroundStyle {
    background: url("../Resources/Images/Background.svg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    width: 200%;
    height: 100%;
}

.smallText {
    font-family: 'Special Elite', cursive;
    font-size: 48px;    
    color: #F2F2F2;
    padding-bottom: 15px;
    text-align: center;
}

.mediumText {
    font-family: 'Special Elite', cursive;
    font-size: 64px;  
    color: #F2F2F2;  
    padding-bottom: 15px;
    text-align: center;    
}

.largeText {
    font-family: 'Special Elite', cursive;
    font-size: 144px;  
    color: #F2F2F2;  
    padding-bottom: 0px;
    text-align: center;        
}

.paragraph {
    width: 750px;
    height: 300px;
    position: absolute;
    margin-left: 13%;
    margin-top: 5%;
}

