@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.background {
    background-image: url("../Resources/Images/Background.svg"); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.text {
    font-family: 'Special Elite', cursive;
    color: #F2F2F2;
    padding-bottom: 15px;
    text-align: center;
}

.smallText {
    font-size: 48px;    
}

.mediumText {
    font-size: 64px;    
}

.largeText {
    font-size: 144px;      
}

.paragraph {
    margin-top: 50px;
}

